link.mode=SOURCE
connection.mode=OUTBOUND

bootstrap.servers=pkc-4j8dq.southeastasia.azure.confluent.cloud:9092
ssl.endpoint.identification.algorithm=https
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='LTCQEF2J3CTYPRED' password='AlULNlyooSEeZNR/rRqBIrwRLdjn5u/3Vtyyb5Ae95DAucdIjNqa6wCHCYrEtTn7';

local.listener.name=PLAINTEXT
# local.listener.name=SASL_PLAINTEXT
# local.security.protocol=SASL_PLAINTEXT
# local.sasl.mechanism=SCRAM-SHA-512
# local.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="cp-to-cloud-link" password="1LINK2RUL3TH3MALL";